:root{
  --primary: black;
  --secondary: dodgerblue;
  --light:white;
  --back: grey;
}
*{
  font-family: 'Cairo', sans-serif;
  
}
body{
  background-color: rgb(107, 200, 255, 0.1);
}

header{
  padding: 15px 6% 15px 0;
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
justify-content: center;
background-color: var(--light);
box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
background-size: cover;
}

.link-top{
  display: flex;
  margin: 30px;
  color: var(--primary);
  font-size: xx-large;}

footer{
  display: flex;
  justify-content: center;
}
.paragraph {
  max-width: 80%;
  margin-left: 10%;
  margin-bottom: 20px;
  padding: 30px;
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
  background-color: var(--light);
  border-radius: 8px;
}

h2{
  margin-left: 10%;
  padding: 30px;
}

.card-deck{
  margin-left: 10%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
  background-color: var(--light);
  border-radius: 8px;
}

.card{
  max-width: 17rem;
  margin: 20px;
  margin-top: 20px ;
  max-height: 300px;
  height: 300px;
  width: 500px;
}

.card:hover{
  max-width: 310px;
}



img{
max-height: max-content;
max-height: 300px;
width: 400px;
margin-top: 150px;
}

#footer{
  margin-left: 10%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
  margin-left: 35%;
}

.code{
  font-size: xx-large;
}

.form-group{
  max-width: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
}

#or{
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--light);
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
  background-size: cover;
  margin-top: 20px;
}

.contactme{
  color: black;
  text-decoration: none;
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--light);
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
  background-size: cover;
  max-width: 80%;
  margin-left: 5%;
}


